// 1. Abstracts
@import "./abstracts/variables";

// Cela permet de réferencer les éléments dans node_modules
@import "~bootstrap/scss/bootstrap";

// 2. base
@import "./base/typography";

// 3. Components

// 4. Layout

// 5. Pages

// 6. Themes

@import "./themes/base_visitor";